.nav-link-text{
color: white !important;
text-decoration: none;
}
.nav-link-text:hover{
color: lightgray !important;
}

.nav-bar-custom a:hover{
border-top: 3px solid white !important;
}
.nav-bar-custom a:focus{
border-top: 3px solid white !important;
}