.nav-toggle{
    border: 2px solid white !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png') !important;
}

.nav-link-text{
color: white !important;
text-decoration: none;
}
.nav-link-text:hover{
color: lightgray !important;
}

.nav-bar-custom a:hover{
border-top: 3px solid white !important;
}
.nav-bar-custom a:focus{
border-top: 3px solid white !important;
}